
.product-item.my-5.container{
    width: 25%;
    img.card-img{
        height: 200px;
        border-bottom: 1px solid #ddd;
    }
    .pricing{
        display: flex;
        gap: 10px;
        .regular{
            
            text-decoration: line-through;
            color: red;
        }
        .sale{
            font-weight: 500;
        }
    }
    .product-btn
    {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
      button{
        font-size: 12px;
      }
       
    }
}

